[Unit]
Description=PiFi Service
Documentation=
After=network.target

[Service]
ExecStart=/usr/bin/pifi wlan0 -d /root
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
